@{
	ViewData["Title"] = "Local Vibes";
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/Views/Landing/index.css" />
	<link rel="stylesheet" href="~/css/Views/Shared/VerticalCard.css" />
</head>
<body>
	<div class="Landing">
		<div class="Landing__content">
			<div class="Landing__content__header">
				<img src="~/Assets/logo.png" asp-append-version="true" alt="Logo" class="Landing__header__logo" width="90px">
				<div class="Landing__content__header__buttons">
					<app-button button-type="primary"
								button-text="Register User"
								onclick="window.location.href='/Authentication/SignUpUser'">
					</app-button>
					<app-button button-type="primary"
								button-text="Register Project"
								onclick="window.location.href='/Authentication/SignUpProject'">
					</app-button>
				</div>
			</div>
			<div class="Landing__content__body">
				<h1>VIU LA MUSICA <br> ESCOLTA LA BANDA</h1>
				<div class="Landing__content__body__cards">
					@Html.Partial("_VerticalCard", new CardModel())
					@Html.Partial("_VerticalCard", new CardModel())
					@Html.Partial("_VerticalCard", new CardModel())
					@Html.Partial("_VerticalCard", new CardModel())
					@Html.Partial("_VerticalCard", new CardModel())
					@Html.Partial("_VerticalCard", new CardModel())
				</div>
			</div>
		</div>
		<div class="Landing__background">
			<div class="left"></div>
			<div class="right"></div>
		</div>
	</div>
</body>
</html>
