@using LocalVibes.Models.ViewModels
@model ProfileEventViewModel
@{
	ViewData["Title"] = "Local Vibes";
	Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	@Html.Partial("_Font")
	<link rel="stylesheet" href="~/css/Views/Profile/Event.css" />
	<link rel="stylesheet" href="~/css/Views/Shared/SocialMediaCard.css" />
	<link rel="stylesheet" href="~/css/Views/Shared/Avatar.css" />
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
	<script src='https://unpkg.com/wicg-inert@latest/dist/inert.min.js'></script>
</head>
<body>
	<div class="container container-pagin-events">

		<h1 style="color: white">@Model.Event.EventTitle</h1>
		<div class="event-description">
			<div class="date-badge"> Fecha: @Model.Event.Project.FormationDate</div>
			<p>@Model.Event.EventDescription</p>
			<!--Lista de generos-->
			<div class="genre-tags">
				@if (Model.Event.Project.GeneresMusic.Any())
				{
					@foreach (var genereMusic in Model.Event.Project.GeneresMusic)
					{
						<label class="genre-tag" style="width:15vh">@genereMusic.GenereMusicName</label>
					}
				}
				else
				{
					<p>No hay géneros musicales asociados.</p>
				}
			</div>
		</div>



		<div class="event-details">
			<div class="main-content">
				<div class="band-info">
					<a asp-area="" asp-controller="Profile" asp-action="Project" asp-route-id="@Model.Event.Project.IdProject" class="User__project-link">
						@Html.Partial("_VerticalCard", new CardModel
 {
	 Title = Model.Event.Project.ProjectName,
	 Subtitle = $"Desde : {Model.Event.Project.FormationDate?.ToString("dd/MM/yyyy") ?? "Fecha no disponible"}",
	 Image = Model.Event.Project.ProjectImage
 })
					</a>
					<div class="band-members">
						@foreach (var member in Model.Event.Project.MembersOfProjects)
						{
							@Html.Partial("_Avatar", new AvatarModel { Size = "100px", Image = member.MemberImage })
						}
					</div>
				</div>

				<div id="map"></div>
			</div>

			<div class="sidebar">
				<div class="events-container">
					<h1 style="color: white">Cartel</h1>

					@Html.Partial("_VerticalCard", new CardModel
{
	Title = Model.Event.EventTitle,
	Subtitle = $"Fecha : {Model.Event.EventDate.ToString("dd/MM/yyyy") ?? "Fecha no disponible"}",
	Image = Model.Event.EventImage
})
				</div>
			</div>
		</div>
	</div>

	<script>
		var latitude = @Model.Event.Location.Latitude.ToString(System.Globalization.CultureInfo.InvariantCulture);
		var longitude = @Model.Event.Location.Longitude.ToString(System.Globalization.CultureInfo.InvariantCulture);

		var map = L.map('map').setView([latitude, longitude], 13);

		L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			attribution: 'Map data © <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
		}).addTo(map);

		var locationIcon = L.icon({
			iconUrl: '/Assets/guitar.png',
			iconSize: [40, 40],
			iconAnchor: [20, 40],
			popupAnchor: [0, -40]
		});

		var marker = L.marker([latitude, longitude], { icon: locationIcon }).addTo(map);


		const navbar = document.querySelector(".navbar");
		const container= document.querySelector(".container-pagin-events")

		if(navbar && container){
		const navbarHeight = navbar.offsetHeight;

		container.style.marginTop = `${navbarHeight}px`;
		}
	</script>
</body>
</html>
