@using LocalVibes.Models.ViewModels
@model ProfileProjectViewModel

@{
    ViewData["Title"] = "Local Vibes";
    Layout = "_Layout";
    var vm = Model;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/css/Views/Shared/MemberCard.css"/>
	<link rel="stylesheet" href="~/css/Views/Shared/ReviewCard.css"/>
	<link rel="stylesheet" href="~/css/Views/Shared/Avatar.css"/>
	<link rel="stylesheet" href="~/css/Views/Profile/Project.css" />
	<link rel="stylesheet" href="~/css/Views/Shared/SocialMediaCard.css"/>
</head>
<body>
    <div class="Profile__page-grid">
        <div class="Profile__photo-section">
            <h1>@vm.Project.ProjectName</h1>
        </div>
        <div class="Profile__left-section">
            <div>
                <h2>DESCRIPCION</h2>
                <p>@vm.Project.Biography</p>
            </div>
            <div class="Profile__left-section__labels">
                <app-label
                    text="label 1"
                    color="red"
                >
                </app-label>
                <app-label
                    text="label 1"
                    color="blue"
                >
                </app-label>
                <app-label
                    text="label 1"
                    color="purple"
                >
                </app-label>
            </div>
            <div>
                @Html.Partial("_SocialMediaCard", new SocialMediaCardModel
                {
                    SocialMedia = new SocialMedia
                    { 
                        IdSocialMedia = 1,
                        NameSocialMedia = "Instagram",
                        UrlSocialMedia = "https://www.instagram.com"
                    }
                })
                @Html.Partial("_SocialMediaCard", new SocialMediaCardModel
                {
                    SocialMedia = new SocialMedia
                    {
                        IdSocialMedia = 1,
                        NameSocialMedia = "YouTube",
                        UrlSocialMedia = "https://www.instagram.com"
                    }
                })
            </div>
            <div>
                @Html.Partial("_ReviewCard", new ReviewCardModel())
            </div>
        </div>
        <div class="Profile__right-section">
                @Html.Partial("_MemberCard", new MemberCardModel())
        </div>
        <div class="Profile__card-section">
            @Html.Partial("_VerticalCard", new CardModel())
            @Html.Partial("_VerticalCard", new CardModel())
            @Html.Partial("_VerticalCard", new CardModel())
        </div>
    </div>
</body>
</html>
