@using LocalVibes.Models.ViewModels
@model ProfileUserViewModel

@{
	ViewData["Title"] = "Local Vibes";
	Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"]</title>
	@Html.Partial("_Font")
	<link rel="stylesheet" href="~/css/Views/Profile/User.css" />
	<link rel="stylesheet" href="~/css/Views/Shared/SocialMediaCard.css"/>
	<link rel="stylesheet" href="~/css/Views/Shared/Avatar.css"/>
	<link rel="stylesheet" href="~/css/Views/Shared/HorizontalCard.css"/>
</head>
<body>
    <div class="User__page-grid">
        <div class="User__user-section">
            @Html.Partial("_Avatar", new AvatarModel{Size="200px"})
            <h1>@Model.User.FirstName</h1>
            <div>
                <p>@Model.User.Birthdate.Value.ToString("dd/MM/yyyy")</p>
                <p>Puntos: @Model.User.UserPoints</p>
            </div>
            <div class="User__user-section__labels">
                @foreach (var genereMusic in Model.User.UserGeneresMusic)
                {
                    <app-label text="@genereMusic.GenereMusicName" color="purple"></app-label>
                }
            </div>
            <div class="User__user-section__labels">
                @Html.Partial("_SocialMediaCard", new SocialMediaCardModel
                {
                    SocialMedia = new SocialMedia
                    { 
                        IdSocialMedia = 1,
                        NameSocialMedia = "Instagram",
                        UrlSocialMedia = "https://www.instagram.com"
                    }
                })
                @Html.Partial("_SocialMediaCard", new SocialMediaCardModel
                {
                    SocialMedia = new SocialMedia
                    {
                        IdSocialMedia = 1,
                        NameSocialMedia = "YouTube",
                        UrlSocialMedia = "https://www.instagram.com"
                    }
                })
            </div>
        </div>
        <div class="User__project-seciton">
            <h2>Projectos Favoritos</h2>
            @foreach (var project in Model.ProjectsFavotire)
            {
                @Html.Partial("_HorizontalCard", new CardModel
               {
                   Title = project.ProjectName,
                   Subtitle = $"Desde :{(project.FormationDate.HasValue ? project.FormationDate.Value.ToString("dd/MM/yyyy") : "Fecha no disponible")}",
                   Image = project.ProjectImage != null ? project.ProjectImage : null // Muestra la imagen si está disponible
               })
            }
        </div>
        <div class="User__event-seciton">
            @foreach (var evento in Model.Eventos)
            {
                @Html.Partial("_VerticalCard", new CardModel
               {
                   Title = evento.EventTitle,
                   Subtitle = $"Fecha: {evento.EventDate.ToShortDateString()}",
                   Description = evento.EventDescription,
                   Image = evento.EventImage != null ? evento.EventImage : null // Muestra la imagen si está disponible
               })
            }
        </div>
    </div>
</body>
</html>
