<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - LocalVibes</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/_Layout.css" asp-append-version="true" />
	@Html.Partial("_Font")
</head>
<body>
	<div class="content-wrapper">
		<header>
			<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
				<div class="container-fluid">
					<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Landing">LocalVibes</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
						<ul class="navbar-nav flex-grow-1">
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">Quienes somos?</a>
							</li>
							<li class="nav-item">
								<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Política de privacidad</a>
							</li>
						</ul>

						@if (Context.Session.GetString("Role") == "Band")
						{
							<ul class="navbar-nav">

								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="User">Bienvenido, @Context.Session.GetString("Username")</a>

								</li>
								<li>
									<a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Project">Projecto: @Context.Session.GetString("ProjectName")</a>

								</li>

								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Cerrar sesion</a>
								</li>
							</ul>
						}
						else if (Context.Session.GetString("Role") == "User"){
							<ul class="navbar-nav">

								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="User">Bienvenido, @Context.Session.GetString("Username")</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Logout">Cerrar sesion</a>
								</li>
							</ul>
						}
						else
						{
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="Login">Iniciar sesión</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="SignUpUser">Soy nuevo usuario</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-dark" asp-area="" asp-controller="Authentication" asp-action="SignUpProject">Soy nuevo artista/banda</a>
								</li>
							</ul>
						}
					</div>
				</div>
			</nav>
		</header>

		<div>
			<main role="main">
				@RenderBody()
			</main>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/MultiSelect.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
