@model LocalVibes.Models.MemberCardModel

<div class="MemberCard">
    <div class="MemberCard__header">
        <span>Foto</span>
        <span>Nombre</span>
        <span>Instrumento</span>
    </div>
    <div class="MemberCard__rows">
        @if (@Model.Members != null)
        {
            @foreach (var member in Model.Members)
            {
                <div class="MemberCard">
                    <h4>@member.MemberName</h4>
                    <p>@member.ArtisticName</p>
                    <span>INSTRUMENTOS:</span>
                    <ul>
                        @foreach (var instrument in member.Instruments)
                        {
                            <li>@instrument.NameInstrument</li>
                        }
                    </ul>
                    <img src="data:image/png;base64,@(member.MemberImage != null ? Convert.ToBase64String(member.MemberImage) : string.Empty)" alt="@member.MemberName" />
                </div>
            }
        }
        else 
        {
            <span>Datos no encontrado</span>
        }
    </div>
</div>

