@model LocalVibes.Models.ViewModels.PruebaViewModel

<h1 class="mb-4">Lista de Usuarios</h1>

<div class="row">
    <span class="IdUser">Usuario con Id concreto</span>
    <p class="card-text">
        <span class="IdUser">ID: @Model.user.IdUsers</span><br />
        <span class="UserName">Nombre: @Model.user.UserName</span>
    </p>
    
    @foreach (var Users in Model.Usuarios)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@Users.UserName</h5>
                    <p class="card-text">
                        <ul class="list-group">
                            <li class="list-group-item">ID: @Users.IdUsers</li>
                            <li class="list-group-item">Nombre: @Users.UserName</li>
                            <li class="list-group-item">Fecha de registro: @Users.DateRegister.ToString()</li>

                            @if (@Users.UserGeneresMusic.Count > 0)
                            {
                                <li class="list-group-item">
                                    Generos de musica favoritos:
                                    <ul class="list-group">
                                        @foreach (var GenereMusicUser in @Users.UserGeneresMusic)
                                        {
                                            <li class="list-group-item">@GenereMusicUser.GenereMusicName</li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

